@font-face {
  font-family: 'MyFont';
  src: url('./ubuntu.woff2') format('woff2'),
    url('./Ubuntu.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.jpg');
  background-repeat: no-repeat;
}