@font-face {
  font-family: 'MyFont';
  src: url('./100LilBunny.woff2') format('woff2'),
    url('./100LilBunny.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png');
  background-repeat: no-repeat;

}